.about{
  padding-top: 80px;
}

.about-header{
  padding-bottom: 120px;
}

.about-title{
  position: relative;
  padding-top: 65px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 81px);
    width: 163px;
    height: 15px;
    background-image: url('../img/waves.png');
    background-size: contain;
  }
}

.about-content-list{}
.about-content-i{
  padding: 0;
}

.about-content-desc{
  text-align: center;
  padding: 120px 0;
}

.about-content-desc-title{
  width: 100%;
  text-transform: uppercase;
}

.about-content-desc-text{
  max-width: 670px;
  margin: 0 auto;
  padding: 45px 15px 0 15px;
  line-height: 26px;
}

.about-content-img > img{
  display: block;
  width: 100%;
}