.main-footer{
  padding: 115px 0;
  color: $color-invert;
  background-color: $dark-blue;
}

.main-footer-links, .main-footer-form, .main-footer-logo{
  margin-bottom: 120px;
}

.main-footer-logo{}
.main-footer-logo-img{
  height: 100%;
}
.main-footer-links{}

.main-footer-links-i{
  margin-bottom: 60px;

  &:last-child{
    margin-bottom: 0;
  }

  & > a{
    transition: all .5s;
    color: $color-invert;
  }

  &:hover a{
    color: $red;
  }
}

.main-footer-form{
  span{
    display: block;
    padding-bottom: 35px;
    text-transform: uppercase;
  }
}

.main-footer-form-input{
  display: block;
  width: 100%;
  margin-top: 40px;
  padding: 13px 0 13px 17px;
  border: 2px solid #42434b;
  background-color: transparent;

  &:focus{
    outline: 1px solid $color-invert;
  }
}

.main-footer-i-social-icon-list{
  font-size: 33px;
}

.main-footer-i-social-icon-i{
  display: block;
  float: left;
  margin-left: 40px;
  transition: all .5s;

  &:first-child{
    margin-left: 0;
  }

  &:hover .main-footer-i-social-icon-i-link{
    color: $red;
  }
}

.main-footer-i-social-icon-i-link{
  color: $color-invert;
  transition: all .5s;
}