.main{
  position: relative;
  height: 800px;
  background-image: url(../img/home-bg.png);
  background-size: cover;
  background-position: center;

}

.main-header{
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0;

  .container{
    height: 20px;
  }
}

.main-header-logo{
  float: left;
  height: 100%;
}

.main-header-nav{
  float: right;
  font-size: 20px;

  & a{
    float: left;
    margin: 0 25px;
    color: $color-base;

    i{
      display: block;
    }

    &:last-child{
      margin-right: 0;
    }
  }
}

.main-content{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.main-content-action{
  font-size: 30px;
}

.main-content-title{
  display: none;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2em;
  color: $color-invert;
}

.main-content-icon{
  position: absolute;
  bottom: 50px;
  left: 50%;
  color: $color-invert;
  animation: main-arrow 1s linear infinite;
}

@keyframes main-arrow {
  from{
    transform: translateY(0);
  }
  to{
    transform: translateY(15px);
  }
}
