.team{

}

.team-title{
  position: relative;
  padding-top: 65px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 40px);
    width: 80px;
    height: 7px;
    background-image: url('../img/waves.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.team-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 120px;


}

.team-i{
  width: 100%;
  margin-bottom: 120px;
  transition: all .5s;

  &:last-child{
    margin-bottom: 55px;
  }
}

.team-i-img{
  display: block;
  width: 100%;
}

img + .team-i-text{
  margin-top: 2.9em;
}

p+p{
  margin-top: 2em;
}

.team-i-text{}

.team-i-text-name{}

.team-i-text-position{
  position: relative;
  padding-bottom: 60px;
  text-transform: uppercase;
  color: #000;

  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 2px;
    background-color: $color-base;
  }
}

.team-i-text-desc{
}

.team-i-social-icon-list{
  font-size: 30px;
  margin-top: 30px;
}

.team-i-social-icon-i{
  float: left;
  margin-left: 20px;

  &:first-child{
    margin-left: 0;
  }

  & > a{
    color: $color-base;
    transition: all .5s;
  }

  &:hover > a{
    color: $red;
  }

}