.works{
  padding-top: 180px;
  position: relative;
  background: url(../img/works-bg.png) repeat-x;
}

.works-header{}

.works-title{
  text-transform: uppercase;
  text-align: center;
  color: $color-invert;
}

.works-desc{
  margin-top: 26px;
  text-align: center;
}

.works-actions-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 55px 0 95px;
}

.works-actions-i{
  display: block;
  float: left;
  margin: 0 20px 20px;

  &:last-child{
    margin-bottom: 0;
  }

  .btn{
    width: 260px;
    padding: 20px;
  }
}

.works-slider{
  position: relative;
  padding: 0 15px 0 15px;
  height: 1050px;
  overflow: hidden;
}

.slider-control-prev{
  position: absolute;
  top: 330px;
  left: 0;
  cursor: pointer;
}
.slider-control-next{
  display: inline-block;
  position: absolute;
  top: 330px;
  right: 0;
  cursor: pointer;
}

.works-slider-list{
  height: 450px;
  width: 9999999em;
}
.works-slider-i{
  float: left;
  padding-bottom: 90px;
  transition: all 1s;

  &.active{
    transform: scale(1);
    opacity: 1;
    visibility: visible;

    .works-slider-i-text{
      opacity: 1;
      visibility: visible;
    }
  }
  &.hidden{
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  }

}
.works-slider-i-img{
  display: block;
  height: 100%;
  width: 100%;
}

img + .works-slider-i-text{
  margin: 55px auto 65px;
}
h3+p{
  margin-top: 30px;
}

.works-slider-i-text{
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: all 1s;
}
.works-slider-i-title{
  text-transform: uppercase;
}
.works-slider-i-desk{}
