@media  screen and (min-width: 480px) {

}

@media  screen and (min-width: 768px) {
  .works-slider{
    padding-top: 70px;
    height: 875px;
    padding-left: 5% ;
  }

  .works-slider-i{
    &.active{
      transform: scale(1.2);
    }
  }
  .works-slider-i-text{
    max-width: 475px;
    margin: 0 auto;
    text-align: left;
  }
  .container{
    width: 100%;
  }
  .h2{
    font-size: 26px;
  }

  .h3{
    font-size: 24px;
  }
  .h4{
    font-size: 15px;
  }

  html, body{
    font-size: 14px;
  }

  .main-content-action{
    font-size: 24px;
  }
  .main-header-nav{

    & a{
      margin: 0 17px;

    }
  }
  /*---------- ABOUT ----------*/

  .about-title{
    padding-top: 45px;

    &:before{
      left: calc(50% - 50px);
      width: 99px;
      height: 9px;
      background-image: url('../img/waves-tablet.png');
      background-size: contain;
    }
  }

  .about-content-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  .about-content-i{
    padding: 15px 0;
  }

  .about-content-desc{
    padding: 0;
    max-width: 350px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .about-content-desc-title{}

  .about-content-desc-text{
    padding: 30px 0 0;
  }

  /*---------- END ABOUT ----------*/
  img + .works-slider-i-text{
    max-width: 400px;
  }
  /*---------- WORKS ----------*/
  .works{
    padding-top: 120px;
  }
  .works-desc{
    max-width: 555px;
    margin: 30px auto 0 auto;
    text-align: center;
  }
  .works-actions-list{
    margin: 30px 0 100px;
  }

  .works-actions-i{
    margin: 10px;

    .btn{
      width: 140px;
      padding: 10px;
    }
  }

  /*---------- END WORKS ----------*/

  /*---------- TEAM ----------*/

  .team-title{
    padding-top: 45px;

    &:before{
      left: calc(50% - 50px);
      width: 99px;
      height: 9px;

    }
  }

  .team-list{
    justify-content: space-around;
  }

  .team-i{
    max-width: 40%;
    margin-bottom: 70px;

    &:nth-child(-n + 2){
      margin-bottom: 60px;
    }
  }

  img + .team-i-text{
    margin-top: 3.571em;
  }

  p+p{
    margin-top: 2.143em;
  }

  .team-i-text-position {
    padding-bottom: 30px;

    &:after {
      width: 30px;
      height: 2px;
      background-color: $color-base;
    }
  }

  .team-i-social-icon-list{
    font-size: 18px;
    margin-top: 30px;
  }

  /*---------- END TEAM ----------*/

  /*---------- FOOTER ----------*/

  .main-footer{
    padding: 80px 0 58px;
  }

  .main-footer-links, .main-footer-form, .main-footer-logo{
    margin-bottom: 70px;
  }

  .main-footer-logo{
    height: 27px;
  }

  .main-footer-links-i{
    margin-bottom: 30px;
  }

  .main-footer-form{
    line-height: 26px;
    span{
      padding-bottom: 15px;
    }
  }

  .main-footer-form-input{
    margin-top: 25px;
  }

  .main-footer-i-social-icon-list{
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .main-footer-i-social-icon-i{
    margin-left: 20px;
  }

  /*---------- END FOOTER ----------*/


}

@media  screen and (min-width: 992px) {
  .container{
    max-width: 1170px;
  }
  .h2{
    font-size: 23px;
  }

  .main-content-action{
    font-size: 17px;
  }

  /*---------- ABOUT ----------*/
  .about{
    padding-top: 140px;
  }
  .about-title{

    &:before{
      left: calc(50% - 40px);
      width: 81px;
      height: 7px;
      background-image: url('../img/waves-desktopt.png');
      background-size: contain;
    }
  }
  .about-content-list{
    margin-bottom: 215px;
  }
  .about-content-i{
    padding: 15px 0;
  }

  /*---------- END ABOUT ----------*/
  .works{
    padding-top: 125px;
  }

  img + .works-slider-i-text{
    margin: 55px 0 65px;
  }

  /*---------- TEAM ----------*/

  .team-title{
    padding-top: 45px;

    &:before{
      left: calc(50% - 40px);
      width: 80px;
      height: 7px;
    }
  }

  .team-list{
    justify-content: space-between;
  }

  .team-i{
    max-width: 30%;
    &:nth-child(-n + 3){
      margin-bottom: 80px;
    }

    &:hover{
      transform: scale(1.1);
    }
  }
  /*---------- END TEAM ----------*/

  /*---------- FOOTER ----------*/

  .main-footer{
    padding: 85px 0 58px;

  }

  .main-footer-links, .main-footer-form, .main-footer-logo{
    margin-bottom: 0;
  }

  .main-footer-logo{
    height: 20px;
  }

  .main-footer-form{
    line-height: 1;
    font-size: 12px;
    span{
      padding-bottom: 15px;
    }
  }

  .main-footer-form-input{
    width: 75%;
    margin-top: 30px;
  }

  .main-footer-i-social-icon-list{
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .main-footer-i-social-icon-i{
    margin-left: 20px;
  }

  /*---------- END FOOTER ----------*/
}

@media  screen and (min-width: 1200px) {

}