/*---------- COLORS ----------*/

$color-base: #949494;
$color-invert: #fff;
$dark-blue: #2c2e37;
$red: #f84444;

/*---------- END COLORS ----------*/

/*---------- FONTS ----------*/

$releway: 'releway';
$open-sans: 'open-sans';

/*---------- END FONTS ----------*/